In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("Churn_Modelling.csv")

In [ ]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.shape  #show size of the dataset

(10000, 14)

In [ ]:
df.describe() #to show null values and data types

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700,0.250900,0.247700,0.545700
std,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769,0.433553,0.431698,0.497932
min,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000,0.000000,0.000000,0.000000
25%,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000,0.000000,0.000000,0.000000
50%,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000,0.000000,0.000000,1.000000
75%,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000,1.000000,0.000000,1.000000
max,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000,1.000000,1.000000,1.000000

In [ ]:
df.duplicated().sum()  #to show duplicate rows

0

In [ ]:
df['Gender'].value_counts()  #to show no. of male and female

Male      5457
Female    4543
Name: Gender, dtype: int64

In [ ]:
women = df.loc[df.Gender == 'female']["Exited"]
women

Series([], Name: Exited, dtype: int64)

In [ ]:
men = df.loc[df.Gender == 'male']["Exited"]
men

Series([], Name: Exited, dtype: int64)

In [ ]:
#print("% of women who EXited: ", rate_women)
#print("% of men who exited: ", rate_men)

In [ ]:
df['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [ ]:
df.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)

In [ ]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
df = pd.get_dummies(df, columns=['Geography','Gender'], drop_first=True) #one-hot encoding

In [ ]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [ ]:
sns.pairplot(df) 
plt.show()

In [ ]:
X = df.drop(columns=['Exited'])  #input
y = df['Exited']  #output

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1) #80% for train and 20% for test

In [ ]:
from sklearn.preprocessing import StandardScaler #data scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
model = Sequential()
model.add(Dense(64,activation='relu',input_dim=11))
model.add(Dense(64,activation='linear'))
model.add(Dense(128,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [ ]:
model.summary()

Model: "sequential_17"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_65 (Dense)            (None, 64)                768

 dense_66 (Dense)            (None, 64)                4160

 dense_67 (Dense)            (None, 128)               8320

 dense_68 (Dense)            (None, 1)                 129

=================================================================
Total params: 13,377
Trainable params: 13,377
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(loss='binary_crossentropy',optimizer='Adam')

In [ ]:
model.fit(X_train_scaled, y_train, epochs=10)

Epoch 1/10
250/250 [==============================] - 1s 2ms/step - loss: 0.4165
Epoch 2/10
250/250 [==============================] - 1s 2ms/step - loss: 0.3565
Epoch 3/10
250/250 [==============================] - 1s 3ms/step - loss: 0.3466
Epoch 4/10
250/250 [==============================] - 1s 2ms/step - loss: 0.3400
Epoch 5/10
250/250 [==============================] - 1s 2ms/step - loss: 0.3376
Epoch 6/10
250/250 [==============================] - 1s 2ms/step - loss: 0.3316
Epoch 7/10
250/250 [==============================] - 1s 2ms/step - loss: 0.3299
Epoch 8/10
250/250 [==============================] - 1s 3ms/step - loss: 0.3270
Epoch 9/10
250/250 [==============================] - 1s 2ms/step - loss: 0.3261
Epoch 10/10
250/250 [==============================] - 1s 2ms/step - loss: 0.3224

In [ ]:
model.layers[0].get_weights()

[array([[-1.64364293e-01, -1.66510418e-01, -2.36853674e-01,
          1.27162471e-01, -6.00010194e-02, -4.55709100e-02,
          2.43427962e-01,  1.63420990e-01,  2.66546339e-01,
          4.99838330e-02,  2.61544198e-01,  8.07464961e-03,
          2.97081113e-01, -6.85457736e-02, -1.22229755e-03,
          7.15419725e-02, -2.61004595e-03,  1.17777660e-01,
         -1.55988112e-01, -1.27544492e-01, -3.65157723e-02,
          2.58371346e-02,  1.99958444e-01,  1.88977897e-01,
          7.73176253e-02,  2.60710686e-01,  1.53162062e-01,
          1.90506309e-01, -6.51442185e-02,  1.40665947e-02,
         -2.88081706e-01, -3.90507095e-02, -3.46173532e-02,
         -9.91881713e-02, -2.65413187e-02,  6.30255789e-02,
          1.68269232e-01, -2.62957513e-02,  6.11256659e-02,
         -8.15194100e-02,  1.15225494e-01,  1.66874751e-01,
         -2.17815116e-01,  5.69737889e-02, -1.56241894e-01,
          9.06053465e-03,  2.46996626e-01, -1.36118546e-01,
         -1.48492411e-01,  2.11403087e-01,  2.11154044e-01,
         -2.77128369e-02, -3.82934883e-02, -9.52822119e-02,
         -9.43609253e-02, -1.05074756e-01,  2.31225654e-01,
         -2.37926513e-01, -2.92343855e-01, -2.91929189e-02,
          1.89525932e-01, -7.96391219e-02,  2.45797560e-01,
         -2.76902407e-01],
        [-1.36780992e-01,  1.66114092e-01,  1.80090159e-01,
          5.56929171e-01,  3.29462320e-01, -1.79110423e-01,
         -5.29490411e-02,  6.93854094e-02,  2.07908377e-01,
         -2.42872983e-01, -1.91907644e-01, -2.00019538e-01,
          1.14627481e-01, -2.58856535e-01,  7.46479770e-03,
          1.62653737e-02,  1.26092091e-01,  1.06191993e-01,
          4.10665363e-01, -3.95381264e-03,  2.55066186e-01,
         -1.68216601e-01, -5.69185987e-02, -6.06012829e-02,
         -1.41923457e-01, -1.20224200e-01,  6.20987117e-02,
          3.05843681e-01, -2.34435171e-01,  4.44479078e-01,
         -2.83695787e-01, -1.30433530e-01,  1.61765486e-01,
         -4.09406470e-03, -1.64964005e-01,  3.78196329e-01,
         -4.75488789e-02, -1.00550637e-01, -1.12295426e-01,
          4.06413972e-01, -1.27850071e-01,  6.97984472e-02,
          3.84518743e-01, -3.21185589e-01,  9.22881365e-02,
         -4.13339809e-02, -1.38681263e-01,  6.99544623e-02,
         -2.16417253e-01,  5.57095632e-02, -1.77949011e-01,
          2.03083754e-01,  1.05515189e-01,  3.01054239e-01,
         -2.72873759e-01, -1.26266465e-01,  6.84747025e-02,
         -2.93122530e-01,  1.96082927e-02,  1.86810926e-01,
          1.50099412e-01, -8.00865963e-02, -2.16524631e-01,
         -4.99353185e-02],
        [ 1.37441024e-01,  4.63097170e-02, -1.31437510e-01,
          2.13608742e-01, -1.76048532e-01,  1.72246903e-01,
         -5.94609417e-02,  1.43403798e-01, -1.70631081e-01,
          1.16458543e-01, -1.57004908e-01, -1.37443334e-01,
          1.92403316e-01,  2.34096736e-01,  1.61384016e-01,
          1.58778459e-01, -1.93168018e-02,  2.95031583e-04,
         -8.00396577e-02,  2.04326138e-01,  4.96110357e-02,
          1.07460231e-01, -1.76239165e-03, -1.39481589e-01,
          4.75928048e-03, -2.04248458e-01,  1.49787813e-01,
          2.37869889e-01, -1.93972200e-01, -1.70636326e-01,
         -1.46419063e-01, -1.12156451e-01, -1.15881592e-01,
          1.78455472e-01, -1.89228714e-01,  1.48419872e-01,
          2.47961774e-01, -2.32449472e-01, -2.09093601e-01,
         -7.47793615e-02,  1.45579606e-01,  1.18421158e-03,
         -1.66318968e-01,  4.66110930e-02, -2.06289083e-01,
          9.24141556e-02,  1.44765854e-01,  1.25790671e-01,
          6.17821142e-02, -1.40270993e-01,  1.32517040e-01,
         -1.56766802e-01, -4.79625687e-02,  4.22176793e-02,
          8.32768604e-02,  5.87659627e-02,  2.42685467e-01,
          9.17254835e-02, -2.47151569e-01, -2.28441119e-01,
          1.45863071e-02,  1.31328627e-01, -1.82231635e-01,
          3.15131128e-01],
        [ 4.22919691e-01, -3.64245996e-02, -7.67810941e-02,
         -3.11082780e-01, -1.96486011e-01, -8.11987072e-02,
          1.53069004e-01, -1.05318569e-01,  1.66150168e-01,
         -3.14373553e-01, -6.68204650e-02, -2.30316758e-01,
         -2.66235471e-01,  1.25700012e-01,  2.11643830e-01,
          6.05224539e-03,  1.75992414e-01,  5.01320772e-02,
          1.89114884e-02,  4.81761917e-02, -1.71539057e-02,
         -9.95385796e-02, -1.70138091e-01, -3.70724569e-03,
          1.84948355e-01, -2.77611911e-01, -1.37312964e-01,
         -3.06144923e-01,  3.86713035e-02, -3.31780016e-02,
         -3.55014354e-01,  3.28096420e-01, -3.07911746e-02,
          1.02610216e-01, -6.07478023e-02,  2.40428016e-01,
         -1.64549187e-01,  2.03279018e-01,  3.21076244e-01,
          1.20083943e-01, -1.63811892e-01, -5.85894398e-02,
         -3.58243398e-02,  9.49816927e-02,  1.09046377e-01,
         -3.41770977e-01,  2.36426592e-01, -1.54696524e-01,
          1.57725677e-01, -9.08340141e-02, -1.55363634e-01,
         -1.44038767e-01, -3.80349547e-01,  2.55735129e-01,
          2.14933351e-01,  9.06781703e-02, -2.52529263e-01,
          4.59033512e-02, -3.52828316e-02,  1.49175942e-01,
          2.01043665e-01, -3.20262372e-01,  1.65839151e-01,
          6.50148541e-02],
        [-1.25047997e-01, -3.13160717e-01, -2.72371173e-01,
         -2.77760684e-01,  1.00431135e-02,  3.61545756e-02,
         -2.46915370e-01, -1.26568303e-01, -1.46554947e-01,
         -2.69173771e-01, -1.92076668e-01, -1.80085272e-01,
          5.37013859e-02,  2.52012610e-01,  3.49668443e-01,
          3.73450130e-01, -2.69960284e-01, -2.37602484e-03,
         -1.68987140e-01,  1.85743466e-01,  7.27167074e-03,
         -2.96175480e-02,  1.68692395e-01,  7.75511786e-02,
         -2.30385333e-01, -2.39258125e-01,  2.34870821e-01,
         -3.65779907e-01,  2.64548451e-01,  6.19801246e-02,
          1.74331650e-01, -1.42003477e-01,  3.43974590e-01,
         -1.97812006e-01,  6.71780407e-02,  2.25244597e-01,
         -1.17427863e-01,  3.57307136e-01, -1.83744818e-01,
         -1.25206903e-01,  1.55570790e-01, -8.10513645e-02,
         -3.01346749e-01,  1.05570130e-01,  2.41223034e-02,
         -2.93638855e-02, -4.76461276e-02, -9.38944072e-02,
          1.75223753e-01,  4.75802064e-01, -8.34134314e-03,
          2.72157878e-01, -1.81236878e-01,  3.10614884e-01,
          6.84431270e-02, -5.67558408e-02, -2.01270188e-04,
          2.15499014e-01, -2.47871671e-02, -1.24813974e-01,
          8.65313411e-02, -1.27667755e-01,  1.27245992e-01,
          1.58066377e-01],
        [-2.00918555e-01, -1.11107901e-01,  2.37966832e-02,
         -1.08280508e-02,  6.82317540e-02,  7.97865018e-02,
         -1.74075529e-01, -2.43358910e-01,  1.08523421e-01,
          1.49041459e-01,  2.20204115e-01,  1.95263103e-01,
         -1.94487080e-01, -1.71473503e-01, -2.75742799e-01,
          6.29782006e-02,  2.10958928e-01, -6.15803041e-02,
         -3.20224203e-02,  2.43662652e-02,  2.42851198e-01,
          1.41083881e-01,  6.17098957e-02,  1.59575135e-01,
          1.24723822e-01, -1.84544101e-01,  1.82998076e-01,
         -2.15230390e-01,  1.19128913e-01, -9.47459936e-02,
         -2.29492173e-01, -1.03264943e-01, -8.44416916e-02,
         -2.46155784e-01,  4.98027131e-02, -2.12840870e-01,
          6.53642789e-02,  3.31122316e-02,  2.77267307e-01,
          1.85893476e-01,  1.48790449e-01, -6.62204623e-03,
         -5.07153198e-02, -1.82610489e-02, -2.47785747e-01,
         -5.42041324e-02, -2.37426355e-01,  1.76992714e-02,
         -5.84919341e-02,  1.80417329e-01,  7.67448992e-02,
         -1.40484348e-01,  9.17171035e-03,  1.05894260e-01,
          2.26085857e-01,  2.00254545e-01,  3.40925455e-02,
         -1.36535525e-01,  1.56505331e-01,  2.74143279e-01,
          7.30919605e-03, -2.66824275e-01,  3.92130047e-01,
          5.55555262e-02],
        [ 4.09505554e-02, -1.70290470e-01, -1.91842720e-01,
          1.62589133e-01,  3.11644256e-01, -1.54463038e-01,
         -2.11080968e-01,  1.75299495e-01, -2.67268538e-01,
          2.46609151e-02, -6.50334880e-02,  7.16840103e-02,
          2.43732885e-01,  1.63806587e-01, -2.34692656e-02,
          8.39255601e-02,  4.13626462e-01, -3.24882448e-01,
          2.53170937e-01, -1.55044124e-01,  1.22328855e-01,
          3.25311244e-01, -6.03570230e-02,  2.92929500e-01,
          2.53952444e-01, -3.95160988e-02, -2.22685650e-01,
         -4.51738797e-02, -4.34020646e-02,  2.64580119e-02,
          1.75740525e-01, -1.81336790e-01, -1.18096516e-01,
          1.75491869e-01, -2.30482191e-01,  2.08482295e-01,
         -2.76568711e-01, -2.04334408e-01, -1.32683843e-01,
         -1.00585818e-01,  7.21112937e-02, -2.95426488e-01,
         -2.20389947e-01, -1.51659369e-01, -3.66152860e-02,
          1.48884401e-01,  1.00635447e-01,  3.87868881e-01,
          9.88762081e-02,  7.35194013e-02,  2.32755452e-01,
         -1.24351300e-01,  8.42506588e-02, -1.67328373e-01,
          2.22665723e-02, -2.09545568e-01, -1.83954805e-01,
          1.20794825e-01, -4.47870523e-01,  6.23720624e-02,
         -6.63595274e-02, -2.44187757e-01,  8.78037605e-03,
          2.85239100e-01],
        [ 1.80080250e-01,  1.41122311e-01,  1.79154083e-01,
         -5.56464866e-02,  2.08430246e-01, -8.19288045e-02,
          1.01079620e-01, -1.40439710e-02,  1.24090612e-01,
          4.46256343e-03, -2.42070910e-02, -3.00697505e-01,
          2.23056749e-01,  2.48028740e-01, -6.84111193e-03,
         -9.61970538e-02,  1.61748424e-01,  6.69763843e-03,
          8.38981941e-03, -1.11036666e-01,  5.02597727e-02,
          6.93446770e-02, -2.24737953e-02, -1.45908877e-01,
          1.44286826e-01,  8.93946886e-02, -2.79066134e-02,
         -3.50856222e-02,  1.71262816e-01, -9.26814079e-02,
          2.73580905e-02, -1.55886993e-01,  1.28662407e-01,
         -8.70617256e-02,  8.34463239e-02,  2.20725760e-02,
         -2.96488851e-01,  2.10197717e-01,  2.57861972e-01,
         -2.86906809e-02,  1.31719662e-02, -1.29560351e-01,
          1.19263113e-01, -3.76428291e-02,  1.49915278e-01,
         -1.81377560e-01,  2.55770627e-02,  1.45560324e-01,
         -2.70967901e-01,  2.11829484e-01,  2.33310997e-01,
          1.00108974e-01,  6.63514361e-02,  8.05745125e-02,
          1.57342792e-01,  1.09346382e-01,  1.99576512e-01,
          1.16171710e-01,  3.82384956e-02, -2.68782228e-02,
         -2.79226542e-01,  6.14250116e-02,  4.44358438e-02,
         -1.80022895e-01],
        [ 8.69751945e-02,  1.78079307e-01,  1.62140876e-01,
          3.08186915e-02,  2.36790791e-01,  4.82893139e-02,
         -3.13429058e-01,  1.06756575e-01,  8.46631601e-02,
          2.69592434e-01, -3.22362989e-01,  1.89677075e-01,
         -1.90347150e-01, -2.30995625e-01,  1.50357306e-01,
          3.92026789e-02,  1.80983379e-01,  1.18508033e-01,
          6.65835366e-02, -1.93342686e-01, -1.17996991e-01,
          1.08111195e-01,  3.47707085e-02,  1.04083203e-01,
          1.89404994e-01, -3.26475240e-02, -6.02768641e-03,
          1.00128330e-01,  1.19996190e-01,  4.42836881e-02,
          2.06895456e-01, -7.91737512e-02,  1.53701931e-01,
          8.70217010e-02,  5.66936582e-02, -3.00450325e-01,
          9.12728682e-02, -2.16949746e-01,  1.61193505e-01,
          1.73797667e-01,  1.74545601e-01,  2.73938309e-02,
         -4.05256450e-02,  4.42964099e-02,  1.40363574e-01,
          8.51422250e-02, -3.03112343e-03, -3.44400167e-01,
         -2.42514282e-01,  1.78903341e-01,  2.61014819e-01,
          1.30876988e-01,  2.01433167e-01, -5.05939201e-02,
         -2.87035406e-02,  8.15742929e-03, -1.91426069e-01,
         -1.48779392e-01, -1.43848881e-01, -1.53714895e-01,
          1.99431732e-01, -3.87224495e-01, -1.79052815e-01,
          2.07825065e-01],
        [-5.11771664e-02, -2.26966634e-01,  2.03170672e-01,
         -1.35165183e-02,  5.15463389e-02, -8.50973278e-03,
         -4.49215136e-02, -1.83118358e-01, -6.59897104e-02,
          1.42575711e-01, -3.81410383e-02,  1.49563193e-01,
         -2.03052014e-01, -6.81083351e-02,  1.20280720e-01,
          1.39439136e-01,  1.60348564e-01,  1.90502077e-01,
         -5.75564876e-02,  1.35044038e-01,  7.46665895e-02,
          2.07640782e-01,  3.01528245e-01, -8.63912106e-02,
          2.41044670e-01, -1.74039125e-01, -6.61438778e-02,
         -1.21668376e-01, -2.93259799e-01,  5.59593365e-02,
         -2.08174512e-01, -1.65799588e-01, -7.63536915e-02,
          1.08567700e-01, -7.40626678e-02, -1.70931201e-02,
          1.35609552e-01,  2.44233057e-01, -8.90542567e-02,
          1.00618102e-01, -2.10619077e-01, -2.84317285e-01,
         -7.07436055e-02,  5.28156757e-02, -3.80020253e-02,
         -1.87064767e-01,  1.98064864e-01, -1.07525848e-02,
          1.51255548e-01,  1.10018671e-01, -2.34595835e-01,
         -2.14415297e-01,  5.77715263e-02,  1.74807444e-01,
         -3.31515193e-01, -2.59885430e-01, -8.56191963e-02,
         -2.29403645e-01, -4.84323315e-03,  1.84307232e-01,
          1.79031137e-02,  1.36310190e-01, -1.87253505e-02,
          1.13988653e-01],
        [-5.82008213e-02, -2.12687165e-01,  1.10963449e-01,
         -1.53408632e-01, -1.13520779e-01,  3.36599022e-01,
         -2.09783405e-01, -1.40229166e-01, -2.48526469e-01,
          1.31889954e-01, -3.71976197e-02,  2.67740972e-02,
         -2.35958975e-02,  2.96338260e-01, -9.07401741e-02,
         -1.18660498e-02, -9.83017311e-02, -2.26892363e-02,
          1.58826843e-01, -2.01163158e-01,  1.53371736e-01,
         -1.50149971e-01,  1.99408963e-01,  3.60415637e-01,
          1.63656726e-01, -1.27472728e-01,  1.69321392e-02,
         -5.04345214e-03, -7.96386972e-02, -5.73196523e-02,
         -1.18571386e-01,  5.70089705e-02, -4.11993898e-02,
          1.89676210e-01,  1.09083086e-01,  1.54735297e-01,
         -1.17989279e-01,  1.24864234e-02,  2.53715087e-03,
         -3.08020916e-02, -3.36869061e-01,  1.45314664e-01,
          1.84044287e-01, -2.06437513e-01,  1.81256264e-01,
          1.99767604e-01, -2.41376795e-02,  1.84981331e-01,
         -2.60236531e-01,  1.00865802e-02,  1.32214934e-01,
          1.72649071e-01,  3.46349478e-02, -2.42662668e-01,
          2.37942815e-01, -1.68258056e-01, -7.58585334e-02,
         -8.33229050e-02, -1.39599338e-01, -2.58434445e-01,
          1.66736439e-01,  1.30981952e-01, -4.46517356e-02,
          6.03046753e-02]], dtype=float32),
 array([-0.01354671, -0.06032775, -0.03819879, -0.1243037 , -0.01519136,
        -0.00190011,  0.039683  ,  0.04810875, -0.04578657, -0.026233  ,
         0.11730492, -0.04913643,  0.12939773, -0.09608208, -0.02508712,
        -0.12533133,  0.00991487, -0.07034301, -0.12727672,  0.0680333 ,
        -0.03623159,  0.05350164,  0.06777012,  0.05403937, -0.02091561,
         0.03550127, -0.09566318, -0.03502283,  0.07612076, -0.11245812,
         0.02164498,  0.12055467, -0.07758233,  0.00940581,  0.17298856,
        -0.04505406, -0.02149092, -0.07251408, -0.00478935, -0.0086418 ,
         0.02667657, -0.03512489,  0.00408263, -0.05807069,  0.01386874,
        -0.00088685,  0.01031405,  0.08982142,  0.02422004, -0.03268116,
         0.08670471, -0.06046246,  0.05482475, -0.04484047,  0.08701748,
         0.02117038, -0.09351014, -0.06688441,  0.0410729 , -0.07824543,
        -0.0934566 ,  0.1033059 , -0.01454064,  0.01471646], dtype=float32)]

In [ ]:
model.layers[1].get_weights()

[array([[ 0.00941458,  0.09149645,  0.11006749, ...,  0.02618217,
          0.01678698, -0.0996962 ],
        [-0.01094844, -0.02080804,  0.17605554, ..., -0.21419206,
         -0.07208716,  0.025397  ],
        [ 0.04301485, -0.09873682, -0.17025004, ..., -0.280528  ,
          0.1214691 , -0.1259608 ],
        ...,
        [ 0.05246878,  0.19553678, -0.18025276, ..., -0.34490618,
         -0.18163837, -0.01656383],
        [ 0.09708864,  0.07439737,  0.19768415, ..., -0.09226215,
         -0.17037745,  0.06477293],
        [ 0.10024934, -0.03645904, -0.00894589, ..., -0.01501112,
         -0.22177877,  0.0873803 ]], dtype=float32),
 array([-0.08155265,  0.0446878 ,  0.08726232,  0.03362028,  0.08221859,
        -0.06334688,  0.0922742 ,  0.10073637,  0.15515861, -0.0879039 ,
        -0.07435333,  0.07208436,  0.11732776, -0.03890911, -0.08658409,
         0.10366884, -0.0640257 ,  0.11859168, -0.06103829,  0.1123082 ,
        -0.02492495, -0.08495165,  0.0675936 ,  0.05064509, -0.03172604,
         0.08959671, -0.11652476,  0.09973648, -0.02822394,  0.0296624 ,
        -0.04305427, -0.02830386, -0.04634591,  0.10588772,  0.08123891,
        -0.11029785,  0.05719397, -0.07284547, -0.01151329, -0.05549917,
        -0.0691378 ,  0.07481798,  0.07116406,  0.04049082,  0.09867027,
        -0.09117112, -0.07692905, -0.05499187,  0.05795339, -0.05762076,
         0.02167815, -0.02805524, -0.09387447,  0.10374794, -0.0877263 ,
         0.00303507, -0.01584096,  0.0168105 ,  0.07079101,  0.03184983,
         0.03965979, -0.07021096, -0.07435112,  0.04786131], dtype=float32)]

In [ ]:
y_value = model.predict(X_test_scaled)

63/63 [==============================] - 0s 1ms/step

In [ ]:
y_pred = np.where(y_value>0.5,1,0)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test,y_pred)  
accuracy

0.8605