In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("Churn_Modelling.csv") #import dataset

In [ ]:
df.head() #show top 5 rows

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.shape  #show size of the dataset

(10000, 14)

In [ ]:
df.info() #to show null values and data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
df.duplicated().sum()  #to show duplicate rows

0

In [ ]:
df['Gender'].value_counts()  #to show no. of male and female

Male      5457
Female    4543
Name: Gender, dtype: int64

In [ ]:
df['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [ ]:
df.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True) #to drop some features irrelavnt to our prediction

In [ ]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
df = pd.get_dummies(df, columns=['Geography','Gender'], drop_first=True) #one-hot encoding

In [ ]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [ ]:
X = df.drop(columns=['Exited'])  #input
y = df['Exited']  #output

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) #70% for train and 30% for test

In [ ]:
from sklearn.preprocessing import StandardScaler #data scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
model = Sequential()
model.add(Dense(64,activation='relu',input_dim=11))
model.add(Dense(128,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [ ]:
model.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 64)                768

 dense_19 (Dense)            (None, 128)               8320

 dense_20 (Dense)            (None, 1)                 129

=================================================================
Total params: 9,217
Trainable params: 9,217
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(loss='binary_crossentropy',optimizer='Adam')

In [ ]:
model.fit(X_train_scaled, y_train, epochs=10)

Epoch 1/10
219/219 [==============================] - 1s 2ms/step - loss: 0.4366
Epoch 2/10
219/219 [==============================] - 1s 2ms/step - loss: 0.3689
Epoch 3/10
219/219 [==============================] - 1s 2ms/step - loss: 0.3483
Epoch 4/10
219/219 [==============================] - 0s 2ms/step - loss: 0.3413
Epoch 5/10
219/219 [==============================] - 0s 2ms/step - loss: 0.3365
Epoch 6/10
219/219 [==============================] - 0s 2ms/step - loss: 0.3322
Epoch 7/10
219/219 [==============================] - 0s 2ms/step - loss: 0.3302
Epoch 8/10
219/219 [==============================] - 0s 2ms/step - loss: 0.3252
Epoch 9/10
219/219 [==============================] - 0s 2ms/step - loss: 0.3255
Epoch 10/10
219/219 [==============================] - 0s 2ms/step - loss: 0.3225

In [ ]:
model.layers[0].get_weights()

[array([[ 1.18290700e-01, -8.92069414e-02, -5.00135571e-02,
          1.81010529e-01,  3.69639993e-02, -1.12977855e-01,
         -3.51987570e-03, -2.33233288e-01,  6.29542917e-02,
         -2.46907324e-01,  1.02878558e-02,  2.19943330e-01,
         -3.12830687e-01,  2.94065382e-02,  1.75502300e-01,
          8.86540040e-02,  1.21030010e-01,  2.94462591e-01,
          2.28247061e-01, -1.08811289e-01,  1.87031969e-01,
         -3.15998912e-01,  6.69074804e-02, -1.24694683e-01,
          1.86462328e-01,  7.55344927e-02,  1.39264867e-01,
         -5.55241555e-02, -1.53746665e-01,  8.36534947e-02,
         -1.71600208e-01, -1.73670381e-01,  1.65409341e-01,
         -1.54422179e-01, -1.72083259e-01,  1.83020070e-01,
          1.06616534e-01,  2.90360395e-03,  2.00775396e-02,
          2.65224278e-01,  1.88356206e-01,  1.91528037e-01,
         -4.99608815e-02,  1.63492233e-01, -5.65444306e-02,
          1.17253162e-01,  5.44076180e-03,  7.27650151e-02,
          2.37302959e-01,  1.82928205e-01,  1.90918326e-01,
          2.50504881e-01,  2.10229367e-01,  1.47013187e-01,
         -1.36846140e-01,  1.64938420e-01, -1.15283616e-01,
         -1.86807364e-01,  2.17796788e-01,  9.49906781e-02,
         -1.69719122e-02,  1.19028486e-01,  1.34081125e-01,
          1.05587550e-01],
        [-1.65868551e-01, -2.31922820e-01,  2.10348461e-02,
         -8.18400458e-03,  4.23211098e-01,  1.38893396e-01,
         -1.59579128e-01, -3.45859110e-01,  4.21194881e-01,
         -7.71847889e-02, -2.23424286e-01, -2.31248230e-01,
         -1.86172888e-01,  1.66346997e-01,  1.43994257e-01,
          3.66565257e-01,  2.80056149e-01, -4.87563871e-02,
          2.08931670e-01, -1.35181565e-02, -1.50948003e-01,
          4.35196944e-02, -2.86309659e-01,  4.55002412e-02,
          1.87611595e-01, -1.81644633e-02,  1.94789827e-01,
          3.90121303e-02,  9.07099396e-02,  4.27603751e-01,
          8.47500265e-02, -2.28019595e-01,  1.18762873e-01,
         -8.96573216e-02, -2.99662739e-01, -2.86107846e-02,
          4.26110238e-01, -2.78073102e-01, -3.26857835e-01,
          1.74993679e-01, -2.91192412e-01, -3.44303936e-01,
          4.12689060e-01,  2.49937594e-01, -6.67386204e-02,
         -2.18266219e-01,  3.45875323e-01,  4.73855659e-02,
         -1.41772509e-01, -2.68172204e-01, -8.00599679e-02,
          3.04878682e-01, -7.78722204e-03,  1.09319143e-01,
         -3.24078470e-01, -1.73809856e-01,  5.56447282e-02,
          3.56415898e-01, -6.25093132e-02, -2.40835086e-01,
         -1.51419371e-01, -3.13665628e-01, -3.18603903e-01,
          2.77825534e-01],
        [ 4.85489890e-02,  1.86957255e-01,  4.07178551e-02,
          1.19565599e-01,  3.62000950e-02,  1.92366600e-01,
         -1.22665688e-01, -4.54728939e-02, -1.08531773e-01,
          2.07665488e-01, -1.06804512e-01,  1.66586578e-01,
          1.35344192e-01, -1.14959419e-01, -2.07582936e-02,
          1.24356508e-01,  9.80024338e-02,  2.37626746e-01,
          8.06643069e-02, -9.89333615e-02,  7.86287561e-02,
         -3.30185324e-01, -1.94134399e-01, -1.22844182e-01,
          1.83532730e-01, -1.11540541e-01,  1.70624390e-01,
         -2.87606359e-01,  1.72257602e-01,  2.04135716e-01,
         -1.20791003e-01, -2.54988343e-01, -1.94826797e-01,
         -4.94730957e-02,  1.78440914e-01, -6.39570951e-02,
          5.63480482e-02, -5.59617095e-02, -2.04369843e-01,
         -4.20501903e-02,  3.27869430e-02,  2.35277444e-01,
          2.85647735e-02,  1.91644266e-01,  1.40258029e-01,
          1.96932107e-01,  2.10728660e-01, -3.95543016e-02,
         -1.55238166e-01,  5.83274141e-02, -2.16903165e-01,
          2.07054436e-01,  1.40035063e-01,  2.02476848e-02,
         -7.58369714e-02,  6.15543313e-02, -2.72670180e-01,
          6.31913766e-02,  9.61877927e-02,  1.59145951e-01,
         -7.08634779e-02,  1.59433573e-01, -1.26493543e-01,
          1.15305498e-01],
        [ 9.79347378e-02, -3.25202316e-01, -3.54071558e-01,
          3.03958386e-01,  1.84779093e-02, -2.35701814e-01,
         -9.08981040e-02, -7.33230710e-02, -3.17279130e-01,
         -7.18518645e-02,  1.21349014e-01,  1.76367790e-01,
          1.81902163e-02,  2.23626852e-01, -4.97714281e-02,
         -2.48419151e-01, -1.77133009e-01, -3.54712665e-01,
         -2.13824749e-01,  3.24717350e-02, -3.89962465e-01,
          1.70125857e-01,  1.76559955e-01,  2.70371467e-01,
         -2.65419900e-01, -1.81561168e-02,  1.30568981e-01,
         -2.62919784e-01,  1.01520993e-01,  1.03038818e-01,
         -2.85160318e-02, -1.44057840e-01,  3.89138281e-01,
         -1.56601653e-01, -1.73775539e-01, -9.29907411e-02,
         -1.58932626e-01, -6.35843277e-02, -1.92702532e-01,
          1.83592349e-01, -1.81504458e-01,  1.07656084e-01,
          5.31581379e-02,  3.98772508e-01,  2.18144849e-01,
         -3.93875003e-01, -1.58051565e-01, -1.88600987e-01,
         -1.92093164e-01,  4.55563553e-02,  2.44658515e-01,
         -7.83779994e-02, -5.04631028e-02, -2.06466123e-01,
          1.20441772e-01, -2.08478458e-02,  2.06904829e-01,
          5.38120531e-02, -4.63452786e-01,  9.83642414e-02,
         -1.93480119e-01, -1.16908818e-01,  2.80696303e-01,
         -2.08607927e-01],
        [ 3.93633097e-01,  4.60258946e-02, -2.84484893e-01,
          7.52816275e-02,  4.76512074e-01,  8.84339362e-02,
          1.71769127e-01, -2.35579815e-02, -4.02053505e-01,
         -1.40068442e-01, -2.63797920e-02, -2.51545191e-01,
          2.02399343e-01, -1.92240521e-01,  2.37214759e-01,
          1.01875298e-01,  3.23814675e-02, -3.56197685e-01,
         -1.93947107e-01,  1.66470185e-02,  2.86807101e-02,
         -1.58331677e-01, -4.91137914e-02, -2.04605639e-01,
         -2.74717093e-01,  4.63414520e-01, -1.84701070e-01,
          9.95798633e-02,  7.06108809e-02,  2.36793175e-01,
          4.89420682e-01, -1.25976071e-01, -3.05647463e-01,
          3.22429150e-01, -7.33518749e-02, -2.34877877e-02,
         -1.82565778e-01, -3.58594880e-02,  6.92202449e-02,
         -1.98183775e-01,  2.50305608e-02,  4.33610946e-01,
          5.36456466e-01,  1.14570029e-01, -2.25718692e-01,
          4.95327525e-02,  3.20901066e-01,  4.05881315e-01,
         -2.49172729e-02,  1.76274806e-01,  3.13097894e-01,
          2.27128685e-01, -1.92296714e-01, -3.73050511e-01,
          6.23723259e-03, -3.64439562e-02,  2.63861060e-01,
         -7.43116587e-02, -1.05640277e-01,  8.17766190e-02,
         -7.03520980e-03, -1.48029968e-01, -1.04984038e-01,
         -2.74162069e-02],
        [-1.96877107e-01, -1.79320276e-01,  5.07455086e-03,
         -2.67291784e-01, -7.19964271e-03, -1.26969442e-01,
          3.82858664e-01, -4.54948321e-02, -3.95630114e-02,
         -2.78179348e-01,  1.52284965e-01,  2.00467378e-01,
         -6.12913296e-02, -7.62066841e-02, -1.63505614e-01,
          2.18971834e-01,  1.36581697e-02, -2.28482783e-01,
         -4.26729284e-02,  2.47747853e-01, -2.07997710e-01,
          2.72241775e-02, -1.08048037e-01,  3.79409529e-02,
          1.55253828e-01,  4.11065631e-02,  2.18623474e-01,
         -7.51433298e-02,  1.54118568e-01,  2.41285697e-01,
         -1.01959080e-01,  2.20681533e-01,  1.42676845e-01,
          5.28265983e-02,  6.32985160e-02, -1.60666600e-01,
         -4.94168326e-02, -2.31323257e-01, -1.48558155e-01,
          1.52760535e-01, -6.76582707e-03,  1.61471725e-01,
         -2.48107575e-02,  1.90930694e-01,  6.78801611e-02,
         -2.06257135e-01,  1.40422732e-01,  1.09787352e-01,
         -2.18915001e-01,  3.26368183e-01,  4.42038253e-02,
          1.08167119e-01,  2.41423324e-01, -1.90568969e-01,
          1.43205956e-01,  8.96377787e-02,  1.14283383e-01,
         -3.04809123e-01,  2.29070365e-01,  1.86004892e-01,
          1.04239598e-01,  2.56113917e-01, -2.47832969e-01,
         -3.18059713e-01],
        [ 1.11308329e-01, -1.49427369e-01, -5.15635218e-03,
         -1.03914797e-01,  1.54836014e-01, -1.51819900e-01,
          8.42928439e-02,  2.61894077e-01,  1.87525004e-01,
          2.22976860e-02,  1.79214086e-02, -2.25225240e-01,
          1.41542226e-01,  3.63496184e-01,  8.88340473e-02,
          2.66452432e-01, -2.20146209e-01, -1.95458546e-01,
         -1.11028910e-01,  8.94773155e-02, -7.93213099e-02,
         -8.94438848e-02, -9.14935619e-02,  3.44845891e-01,
         -1.94732293e-01, -1.74876854e-01,  3.89734775e-01,
         -1.75060421e-01, -1.05265059e-01,  8.18408951e-02,
         -2.43674621e-01, -6.88420236e-02, -2.81707913e-01,
          1.21713281e-01, -2.35831276e-01,  2.20148236e-01,
          4.87272479e-02,  1.74175039e-01, -2.08995759e-01,
          1.64143667e-01, -2.56458521e-01, -4.54500429e-02,
          2.13661879e-01, -3.06878567e-01, -2.07286865e-01,
          2.26355463e-01,  3.03726673e-01,  3.11971493e-02,
         -6.92461580e-02, -7.47252703e-02,  4.88429107e-02,
         -3.28175366e-01,  3.22692245e-01, -1.42555401e-01,
         -2.39913180e-01,  2.66544580e-01,  2.85152514e-02,
          3.51859778e-02, -2.28647664e-01, -2.30019227e-01,
         -2.84878612e-02, -1.27808571e-01, -1.89098045e-01,
          3.24205041e-01],
        [ 4.77571003e-02,  1.56788066e-01, -5.57430610e-02,
         -1.97333559e-01,  6.14527836e-02, -6.99044690e-02,
          1.76754400e-01, -9.14208144e-02,  1.01942241e-01,
          1.82670891e-01, -1.20610908e-01, -2.02263579e-01,
         -1.73533127e-01, -2.11272389e-01, -1.19535036e-01,
          1.13324739e-01, -1.44540429e-01,  1.31468266e-01,
         -1.45951584e-01, -1.83544364e-02, -1.01262875e-01,
         -1.06040739e-01, -2.15592664e-02,  2.02457219e-01,
          3.06175470e-01, -3.69653758e-03, -1.85468942e-01,
         -1.42614454e-01,  3.98857184e-02,  3.11922785e-02,
          1.99936584e-01,  1.99667126e-01,  4.18792553e-02,
         -1.05146542e-01, -8.80201310e-02,  2.92389125e-01,
          1.73154503e-01, -1.82213515e-01, -4.31183465e-02,
         -2.30964512e-01,  1.91567298e-02,  4.11331374e-03,
         -4.72318865e-02,  1.98815376e-01,  3.40360850e-01,
         -1.75357029e-01,  1.42220840e-01, -7.87960142e-02,
          2.20721483e-01,  2.48541594e-01,  7.32914656e-02,
          4.96698916e-02,  1.22506790e-01, -1.18322916e-01,
         -2.30961114e-01, -9.98810977e-02, -1.39761657e-01,
         -6.21783212e-02,  2.09875897e-01, -1.20891616e-01,
         -1.47147566e-01,  6.46885335e-02,  1.10370301e-01,
          1.73396349e-01],
        [ 2.64730793e-03, -3.04521382e-01, -9.13083404e-02,
         -3.65984738e-01, -1.03398196e-01, -2.56308526e-01,
          3.91981713e-02,  1.59250468e-01,  1.82201952e-01,
         -1.43881157e-01, -1.59101382e-01,  3.21416020e-01,
          2.67986983e-01, -1.96831837e-01,  6.20515645e-02,
         -2.78568298e-01,  2.78929651e-01, -2.97637843e-02,
          3.19833487e-01, -1.17886178e-01,  9.91573334e-02,
          2.41340306e-02, -1.65291443e-01, -2.23060802e-01,
         -3.40328276e-01, -5.15984781e-02,  1.25583887e-01,
          2.81777292e-01, -3.26573998e-01,  9.95670483e-02,
         -1.64463431e-01, -1.83172107e-01,  1.58811077e-01,
          1.52453169e-01, -3.22616547e-01, -7.97749832e-02,
         -1.03570648e-01, -3.44298631e-02, -2.85609812e-01,
          2.11607739e-01,  1.04669690e-01,  4.54946309e-02,
         -6.87924549e-02,  5.74830137e-02,  1.93077654e-01,
          7.74619356e-02, -4.13643792e-02,  2.73259014e-01,
         -8.44478607e-03,  2.70034432e-01,  2.98841484e-03,
          1.43863469e-01, -1.27950847e-01, -1.61328644e-01,
         -2.79130310e-01, -3.33673149e-01,  5.40209264e-02,
         -1.56693846e-01,  1.25669688e-01, -1.07853405e-01,
         -2.67894119e-01, -2.44191185e-01, -4.11675870e-02,
         -1.88905292e-03],
        [ 2.29959771e-01,  2.55058646e-01,  1.07705109e-01,
         -8.99784043e-02,  3.36550802e-01,  1.29053459e-01,
         -2.54231066e-01, -1.02539480e-01, -1.34552166e-01,
         -1.22722842e-01, -2.41802424e-01,  1.20853692e-01,
         -2.25924969e-01,  7.25987107e-02,  1.98595114e-02,
          6.56819204e-04, -7.99491350e-03, -1.86742112e-01,
          1.66447133e-01, -1.78024247e-01,  2.64359832e-01,
          2.58435041e-01,  1.17444158e-01,  2.03925565e-01,
          4.20629606e-02, -4.17685173e-02, -1.36161953e-01,
         -1.54148508e-02, -4.41236719e-02,  8.72916058e-02,
          9.43202823e-02, -1.60955433e-02, -5.25332652e-02,
          1.51023938e-04,  1.58705667e-01, -2.89872348e-01,
          1.69223383e-01, -3.19356948e-01,  2.51294076e-01,
         -2.73421645e-01, -2.26204798e-01,  5.02451248e-02,
         -1.11578489e-02,  1.99820489e-01, -1.59299165e-01,
         -1.46460891e-01, -4.31977287e-02, -1.16030924e-01,
          4.92909402e-02, -2.90538460e-01, -1.52751505e-01,
          1.18955359e-01,  1.60278708e-01,  3.72478971e-03,
          8.79281759e-02,  1.48450822e-01, -8.63104239e-02,
         -5.22599146e-02,  1.99676707e-01, -2.67528772e-01,
          2.15910181e-01,  1.50309235e-01, -9.32246074e-02,
         -1.00682706e-01],
        [-9.16183367e-02, -1.70653358e-01,  4.32617888e-02,
          4.44377288e-02, -2.64769662e-02,  2.10522905e-01,
         -4.14419509e-02,  1.36650220e-01,  1.16998449e-01,
          2.93267280e-01,  3.07107955e-01,  8.16866383e-03,
         -1.30181253e-01,  3.63893688e-01, -7.10954517e-02,
          2.35823601e-01, -3.01295295e-02, -2.77528644e-01,
          1.07207671e-01,  9.25935730e-02,  3.14008802e-01,
         -1.53178513e-01, -2.03258216e-01,  5.52569702e-02,
          1.90538019e-01,  6.24816194e-02, -7.03977644e-02,
          3.21082473e-01, -2.09659919e-01, -3.69618647e-02,
          3.67597193e-02, -1.83288544e-01,  1.49905458e-01,
         -2.66040593e-01, -2.23459363e-01,  8.01934525e-02,
         -1.89211980e-01, -1.51098683e-01,  5.69413342e-02,
         -3.09501924e-02,  2.59837836e-01, -2.08619356e-01,
          1.09924212e-01,  1.70812637e-01, -5.24423271e-02,
          1.95608065e-01,  5.00395074e-02,  1.16774760e-01,
          6.27633408e-02,  1.46465957e-01, -2.41389275e-01,
         -2.28717551e-01, -1.12219565e-01,  1.10666148e-01,
         -1.14187717e-01, -2.51390845e-01, -1.04824811e-01,
         -9.07720774e-02, -3.24399799e-01,  1.36773169e-01,
          2.41985515e-01,  1.87985539e-01, -7.81380013e-02,
         -8.44311565e-02]], dtype=float32),
 array([-0.00169978,  0.06049516, -0.16413046,  0.02865312,  0.04902451,
         0.05733781,  0.09831315,  0.10894687,  0.06047164,  0.09285156,
         0.00709419, -0.05351825, -0.01258087,  0.10252665, -0.05857689,
        -0.02878949, -0.00334604,  0.1234159 ,  0.00786157,  0.04534511,
         0.05105479, -0.05452276,  0.03574074,  0.04638222,  0.04092176,
        -0.00380068,  0.07316615, -0.07033999,  0.02999705, -0.14234823,
        -0.14443707, -0.0849214 ,  0.03897155, -0.03891759,  0.1247114 ,
         0.12140965, -0.08528177,  0.05669495,  0.02865797, -0.02376189,
         0.19569421,  0.02098587, -0.04886647, -0.0423843 , -0.05265283,
         0.06108308, -0.06694081, -0.01618997, -0.00345882,  0.16922654,
        -0.02701403, -0.0418038 ,  0.0165854 , -0.0568843 ,  0.07401269,
         0.05111055, -0.11963629, -0.08342112,  0.07057912,  0.0358834 ,
         0.05242522,  0.10088351,  0.14047772,  0.08444589], dtype=float32)]

In [ ]:
model.layers[1].get_weights()

[array([[-0.35556543, -0.06014405, -0.07273997, ...,  0.21213667,
         -0.16436648,  0.0072124 ],
        [-0.13575079, -0.25001904,  0.13508649, ...,  0.05124576,
          0.1205878 , -0.14295736],
        [-0.00077735,  0.00645886, -0.10273078, ...,  0.03013107,
         -0.00092516, -0.18531968],
        ...,
        [ 0.15292276, -0.04004769, -0.03370608, ..., -0.01681503,
         -0.02319844,  0.17801936],
        [-0.25153083,  0.00992684, -0.10467359, ..., -0.04688567,
         -0.13478276,  0.16672945],
        [-0.09429566, -0.20302963,  0.14163439, ...,  0.12825145,
          0.03558643,  0.01803296]], dtype=float32),
 array([-0.02109368, -0.0012118 ,  0.05588698, -0.00529635,  0.03480427,
        -0.03778438,  0.13980526,  0.03099194,  0.0884702 , -0.06605624,
         0.08809157, -0.05558873, -0.06050184, -0.02382003, -0.02577966,
         0.08405876, -0.01663623,  0.07060876, -0.0458209 ,  0.07390831,
        -0.07290158, -0.04230599,  0.05890739,  0.13309707, -0.0830607 ,
         0.07590236,  0.05765395, -0.01005613,  0.02222428, -0.03140261,
        -0.03140678, -0.04531263,  0.07915232, -0.00464064,  0.04942327,
        -0.09184995,  0.05787023,  0.10375792, -0.01374067,  0.10849013,
        -0.06465197,  0.0631482 ,  0.09475886,  0.07360909, -0.05077384,
         0.0006097 ,  0.06928109, -0.00438138,  0.06726953, -0.02121454,
         0.08802646,  0.14465351, -0.02155439, -0.03883184,  0.05500792,
        -0.0266891 , -0.06079293,  0.06138007, -0.09329131,  0.01270877,
        -0.02438828,  0.04132852,  0.09730835,  0.12459832, -0.04570889,
         0.08078582,  0.0370894 ,  0.18229352,  0.16892564,  0.0653674 ,
         0.098712  , -0.02882424, -0.06972611, -0.09366372, -0.07553836,
         0.0652895 ,  0.07838467, -0.09448533, -0.05998063,  0.10869391,
        -0.11131123,  0.06886478, -0.00211054,  0.09889248,  0.01589224,
         0.11045753,  0.10405468,  0.14628784,  0.07206453,  0.02499074,
        -0.00611098, -0.03591178,  0.07628816, -0.07691467,  0.06809391,
         0.03680331,  0.06275999, -0.09233426, -0.01078441,  0.05225068,
        -0.05522655, -0.03036348,  0.05060511,  0.0143883 ,  0.09722885,
        -0.0985491 ,  0.02606896, -0.01792896,  0.05682464, -0.09049526,
         0.01976845,  0.07871446, -0.01793226, -0.04081047, -0.04752853,
        -0.06900734,  0.07695741,  0.07288954,  0.01233218, -0.00442611,
         0.04605816,  0.06505512,  0.01439256,  0.01792499,  0.03741216,
         0.09268568, -0.00332806,  0.05180054], dtype=float32)]

In [ ]:
y_value = model.predict(X_test_scaled)

94/94 [==============================] - 0s 1ms/step

In [ ]:
y_pred = np.where(y_value>0.5,1,0)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test,y_pred)  
accuracy * 100

86.0